extends layout
  
  
block content
  h1(class="centerMe") Top Ranked Movies
  p
  ul
  each val in [1, 2, 3, 4, 5]
    div(class="col-12 row")
      div(class="box col-2")
      div(class="box row col-8")
        div(class="col-4")
          p
          img(src="/images/luke.jpg" alt="Luke Charpentier")
          p
        div(class="col-4")
          p
          p title
          p summary
          p actors
        div(class="col-4")
          p
          li.nobull= val + "/5"
          p user likes-dislikes
