extends layout

block content
  <div class="row">
    <div class="col-lg-12 text-center">
    <h1 class="mt-5">My Rankings</h1>
    <p class="lead">Welcome to #{title} </p>
      <li>About this page:</li>
      <li>Rank your movies:</li>
